@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-gold {
  0% {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
  }
  50% {
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
  }
  100% {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
  }
}

@keyframes rainbow-flow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

@keyframes rotate-hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
